/* ---- Geral ---- */

p, li {
    color: #444;
    font-size: 16px;
}


/* ---- Barra De Navegação ---- */

header, .navbar {
    background-color: #444f55;
}

#logo {
    width: 100px;
}

#navbar-links {
    margin-right: 150px;
}

#navbar-links a {
    color: white;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif !important;
}

#navbar-links a:hover {
    color: #65daf9;
}